.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
  margin-left: 10px;
}

.delete-all {
  text-align: right;
  margin: 20px;
  input {
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
  }
  span {
    text-transform: uppercase;
    color: rgb(3, 165, 206);
    letter-spacing: 1.3px;
    margin-right: 30px;
  }
  button {
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
  }
}
.myProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
